<div class="mt-4">
    <div class="row">
        {{#each listLibrary}}
        <div class="col-sm-6">
            <div class="card mt-4" style="margin-bottom: 10px;">
                <div class="iframe-container" style="display: flex; justify-content: center; margin-top: 6px;">
                    <iframe width="560" height="315" src={{this.url}} title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 30px;">{{this.name}}</h5>
                    <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        {{this.description}}</p>
                    <a href="/library/{{this.type}}" class="btn btn-primary" style="background-color: gray;">View
                        details</a>
                </div>

            </div>
        </div>

        {{/each}}
    </div>
</div>