<div class="mt-4">
    <form method="POST" action="/library/store">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Ten bai hat</label>
        <input type="text" class="form-control" name="name">

    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Mo ta</label>
        <input type="text" class="form-control" name="description">

    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Image</label>
        <input type="text" class="form-control" name="image">

    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">The loai</label>
        <input type="text" class="form-control" name="type">

    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Link bai hat</label>
        <input type="text" class="form-control" name="url">

    </div> <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Views</label>
        <input type="number" class="form-control" name="views">

    </div>
    </div>
    

    <button type="submit" class="btn btn-primary">Tạo bài hát</button>
</form>
</div>