<div style="margin-bottom: 10px; margin-top: 20px;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{library.image}}" frameborder="0"
        allowfullscreen></iframe>
    <div class="card-body">
        <h5 class="card-title" style="font-size: 30px;">{{library.name}}</h5>
        <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            {{library.description}}</p>
        <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            {{library.views}} viewers</p>

    </div>

</div>
</div>